site_name: ARSA_ML Documentation
site_url: https://katarzynarogalska.github.io/ARSA-Automated-Rashomon-Set-Analysis

nav:
  - Home page: index.md
  - Documentation: api/index.md

theme:
  name: material
  palette:
    scheme: default 

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js